@import url(https://db.onlinewebfonts.com/c/9b424ab5e96ee96f675c922ff9c6aff3?family=Dodo+Rounded);

@font-face {
    font-family: "Dodo Rounded";
    src: url("https://db.onlinewebfonts.com/t/9b424ab5e96ee96f675c922ff9c6aff3.eot");
    src: url("https://db.onlinewebfonts.com/t/9b424ab5e96ee96f675c922ff9c6aff3.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/9b424ab5e96ee96f675c922ff9c6aff3.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/9b424ab5e96ee96f675c922ff9c6aff3.woff")format("woff"), url("https://db.onlinewebfonts.com/t/9b424ab5e96ee96f675c922ff9c6aff3.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/9b424ab5e96ee96f675c922ff9c6aff3.svg#Dodo Rounded")format("svg");
}

body {
    min-width: 1500px;
    max-width: 1800px;
    font-family: "Dodo Rounded", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

.fixed-header-container {
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-flow: row wrap;
    height: 72px;
    margin-top: 60px;
}

.logo-dodo-pizza {
    display: inline-block;
    margin-right: auto;
}

.work-dodo {
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.ref-application-form {
    display: inline-flex;
    width: 200px;
    height: 32px;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 64px;
    background-color: #efe41a;
    position: relative;
}

.ref-aplication-form-text {
    font-family: "Dodo Rounded",sans-serif;
    font-size: 22px;
    line-height: 36px;
    text-shadow: 0px 0px 0.6px #000;
    font-weight: 500;
    letter-spacing: -.01em;
    color: #000;
}

/*Hero*/
.hero-container {
    padding-left: 110px;
    padding-right: 110px;
    min-width: 1200px;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
}

.hero-left {
    display: inline-block;
    margin-right: auto;
    width: 640px;
}

.hero-header-title {
    font-size: 80px;
    line-height: 64px;
    line-height: 80px;
}

.hero-right {
    display: inline-block;
    margin-left: auto;
    width: 445px;
    padding-right: 90px;
    padding-top: 50px;
}

.header-2 {
    padding-left: 110px;
    padding-right: 110px;
    display: block;
    margin-left: 52px;
    font-size: 48px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    text-shadow: #000 0px 0px 2px;
}

#stories-header {
    transform: rotate(-2.5deg);
}

.stories {
    display: block;
}

.vacancies-container {
    margin-top: 50px;
}

#vacancies-header {
    margin-left: 0px;
}

.text {
    margin-left: 112px;
}

.sample-vacancies {
    display: flex;
    margin-left: 83px;
    height: 287px;
    margin-top: 50px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .sample-vacancies::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

.vacancy {
    height: 287px;
    width: 218px;
    display: inline-block;
    border-radius: 45px;
    margin-left: 7px;
    position: relative;
}

.vacancy-name {
    position: absolute;
    top: 230px;
    left: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 10px;
    position: absolute;
    border-radius: 45px;
    display: inline-block;
    background-color: #efe41a;
    z-index: 1;
    font-size: 20px;
    letter-spacing: .2rem;
    text-shadow: 0px 0px 0.6px #000;
    font-weight: 500;
    letter-spacing: .01em;
    color: #000;
}

.arguments {
    margin-top: 160px;
    display: flex;
}

.arguments-header {
    margin: 0;
}

.arguments-left {
    display: block;
    min-width: 765px;
    margin-right: 225px;
}

.arguments-right {
    display: flex;
    flex-flow: row wrap;
}

.argument-icon {
    width: 52px;
    height: 52px;
}

.argument-icon-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3.5px 20px;
    gap: 10px;
    border-radius: 45px;
    display: inline-block;
    background-color: #efe41a;
    font-size: 26px;
    letter-spacing: .2rem;
    text-shadow: 0px 0px 0.6px #000;
    font-weight: 500;
    letter-spacing: .05em;
    color: #000;
    height: 36px;
    position: relative;
    z-index: 2;
    left: -60px;
    top: 40px;
}

.argument {
    margin-top: 35px;
    position: relative;
    height: 140px;
    width: 255px;
}

.argument-icon-text-bottom {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 0;
    border-radius: 45px 45px 45px 0px;
}

.extra {
    margin-top: 150px;
}

.extra-text {
    width: 750px;
    margin-bottom: 30px;
}

.extra-content {
    display: flex;
    flex-flow: row wrap;
    margin-left: 110px;
}

.extra-content-item {
    width: 328px;
    margin-right: 28px;
    border-radius: 64px;
    padding: 32px 40px 48px;
}

.extra-content-item1 {
    background-color: #C5A6CF;
}

.extra-content-item2 {
    background-color: #ED771E;
}

.extra-content-item3 {
    background-color: #EFE41A;
    margin-right: 0;
}

.extra-content-img {
    height: 73px;
    width: 73px;
}

.header-3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-shadow: #000 0px 0px 2px;
    margin-top: 15px;
}

.extra-item-text {
    margin: 0;
    font-size: 21px;
    width: 329px;
    line-height: 28px;
}

.form {
    margin-top: 160px;
}

.form-content {
    display: flex;
    flex-flow: row wrap;
    margin-left: 110px;
}

input[type="search"] {
    border: 2px solid #efefef;
    border-radius: 16px;
    height: 64px;
    outline: none;
    font-family: "Dodo Rounded", sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
    padding-left: 30px;
    padding-top: 5px;
    width: 620px;
    position: absolute;
}

.input-form {
    margin-top: 37px;
    margin-bottom: 50px;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="search"]:focus-within,
input[type="search"]:target,
input[type="search"]:active,
input[type="search"]:focus ~ .input-form {
    border: 2px solid #ED771E;
}

input[type="search"]::-webkit-input-placeholder {
    color: rgba(0,0,0,1);
}

input[type="search"]:focus-within::-webkit-input-placeholder,
input[type="search"]:target::-webkit-input-placeholder,
input[type="search"]:active ::-webkit-input-placeholder,
input[type="search"]:focus ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.7);
}

.form1 {
    top: 100px;
    left: 0;
    min-width: 40px;
    min-height: 40px;
}

.form2 {
    top: 200px;
    left: 0;
    min-width: 40px;
    min-height: 40px;
}

.form3 {
    top: 300px;
    left: 0;
    min-width: 40px;
    min-height: 40px;
}

    .form3:hover {
        cursor: not-allowed;
    }

.selector-button {
    position: relative;
    top: 15px;
    left: 567px;
    height: 13px;
}

    .selector-button:hover {
        cursor: pointer;
    }

.standart::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
}

input[type="search"].standart1::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
}

input[type="search"].not-allowed::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
}


.not-allowed:hover {
    cursor: not-allowed;
}

.not-allowed {
    background-color: rgba(0,0,0,0.1);
}

    .not-allowed + .selector-button {
        z-index: -1;
    }

.unavailable {
    top: 2px;
    left: 2px;
    position: absolute;
    background-color: #000;
    width: 617px;
    height: 61px;
    border-radius: 14px;
    z-index: 2;
    filter: alpha(Opacity=10); /* Полупрозрачность для IE */
    opacity: 0.1;
}

input[type="search"].not-allowed:focus-within,
input[type="search"].not-allowed:target,
input[type="search"].not-allowed:active,
input[type="search"].not-allowed:focus ~ .input-form {
    border: 2px solid #efefef;
    color: transparent;
}

.form-right {
    margin-left: 625px;
}

.ps-span {
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    position: absolute;
    margin-top: -20px;
    width: 500px;
}

.broken-input {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
}

.input-part {
    min-width: 150px;
    max-width: 280px;
    margin-top: 0;
}

.input-part2 {
    margin-left: 311px;
    max-width: 310px;
}

.checkbox-text {
    font-size: 18px;
    color: #ED771E;
}

label {
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

    .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

        .custom-checkbox + label::before {
            margin-top: -7px;
            margin-left: 110px;
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 0px solid rgba(0,0,0,0);
            background-color: #fde0ba;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

    .custom-checkbox:checked + label::before {
        border-color: rgba(0,0,0,0);
        background-color: #fde0ba;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
        border-color: rgba(0,0,0,0);
    }

    .custom-checkbox:not(:disabled):active + label::before {
        background-color: #fde0ba;
        border-color: rgba(0,0,0,0);
        border: none;
    }

    .custom-checkbox:focus + label::before {
        box-shadow: 0 0 0 0.2rem #fde0ba;
    }

    .custom-checkbox:focus:not(:checked) + label::before {
        border-color: rgba(0,0,0,0);
        border: none;
    }

    .custom-checkbox:disabled + label::before {
        background-color: #fde0ba;
    }

.submit-button {
    display: block;
    margin-top: 35px;
    margin-left: 110px;
    background-color: #ED771E;
    color: #000;
    border: none;
    width: 400px;
    height: 64px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 45px;
    text-shadow: 0 0 0.5px #000;
}

.questions {
    display: flex;
    flex-flow: row wrap;
    margin-top: 160px;
}

.questions-left {
    width: 670px;
    margin-right: 0;
    position: absolute;
}

.mail {
    color: #ED771E;
}

.questions-header {
    display: block;
    width: 500px;
    margin-right: 0px;
}

.questions-text {
    display: block;
    width: 500px;
}

.questions-right {
    position: relative;
    margin-left: 650px;
}

.questions-button {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    transition: color .3s ease-in-out;
    color: #000;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    font-family: "Dodo Rounded", sans-serif;
    margin-top: 12px;
    text-shadow: 0 0 1px #000;
}

.questions-button-active {
    color: #ED771E;
    text-shadow: 0 0 1px #ED771E;
}

.question {
    display: block;
    width: 753px;
    height: 92px;
    border: none;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 16px;
    border-radius: 16px;
    margin-top: 35px;
    position: absolute;
}

    .question:hover {
        cursor: pointer;
    }

    .question span {
        display: inline-block;
        font-size: 22px;
        width: 750px;
        text-align: left;
        padding: 15px;
        font-family: "Dodo Rounded",sans-serif;
    }

.question-selector {
    display: block;
    top: 74px;
    left: 690px;
    z-index: -1;
}

.question1 {
    margin-top: 130px;
}

.question2 {
    margin-top: 230px;
}

.question3 {
    margin-top: 330px;
}

.question-selector1 {
    top: 170px;
}

.question-selector2 {
    top: 271px;
}

.question-selector3 {
    top: 370px;
}

.question4 {
    margin-top: 427px;
}

.question-selector4 {
    margin-top: 393px;
}

.footer {
    margin-top: 200px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    margin-left: 75px;
}

ul {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    margin-right: 50px;
}

.main-li {
    margin-bottom: 10px;
}

.standart-li a {
    display: inline-block;
    color: rgba(0,0,0,0.4);
    margin-bottom: 8px;
}

.googlePlay {
    width: 139px;
    height: 40px;
    margin-right: 10px;
}

.appStore {
    width: 124px;
    height: 40px;
}

.social-networks {
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    margin-left: 110px;
}

    .social-networks a {
        color: rgba(0,0,0,0.5);
        font-size: 16px;
        display: flex;
    }

    .social-networks svg {
        margin-top: 5px;
        margin-right: 2px;
    }

.vk {
    margin-right: 35px;
}

hr {
    border: 0;
    height: 1px;
    margin: 30px 0;
    margin-left: 110px;
    width: 1290px;
    background: rgba(0,0,0,0.15);
}

.footer-underline span, .footer-underline span a {
    font-family: "Dodo Rounded",sans-serif;
    font-size: 17px;
    color: rgba(0,0,0,0.4);
}

.footer-underline span, .footer-underline img {
    margin-right: 8px;
}

.footer-underline {
    margin-left: 110px;
}

.footer-email {
    margin-left: 290px;
}

.info {
    margin-top: 20px;
    margin-left: 110px;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    padding-bottom: 30px;
}

.info span {
    display: block;
    height: 20px;
}
